<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
    </head>
    <body>

        <!--
        <div th:if="${param.userexists}">
            <p>User already exists, try again.
        </div>
        <div th:tesxt="${userexists}"/>
        -->


        <header th:insert="~{blocks/header :: header}"></header>

        <div class="signup-form">
            <div>Регистрация</div>

            <form th:action="@{/registration}" method="post">
                <input type="email" name="email" placeholder="Почта"/>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

                <input type="password" name="password"  placeholder="Пароль"/>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

                <input type="hidden" name="_csrf" value="${_csrf.token}" />
                <input type="submit" value="Зарегистрироваться"/>
            </form>

            <div>Уже есть аккаунт? <a href="/login">Войти</a></div>

        </div>

        <footer th:insert="~{blocks/footer :: footer}"></footer>

    </body>
</html>