<div th:fragment="header">
    <ul class="nav nav-pills d-flex justify-content-between border">
        <li class="nav-item">
            <a class="nav-link" href="/">checkmate</a>
        </li>
        <li th:if="${userRole == 'STAFF'}">
            <a class="btn btn-success" th:href="@{/staff/dashboard}">Редактирование отелей</a>
        </li>
        <li th:if="${userRole == 'STAFF'}">
            <a class="btn btn-success" th:href="@{/staff/booking}">Текущее бронирование</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account">Аккаунт</a>
        </li>
    </ul>
</div>